@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-info" asp-controller="Editora" asp-action="ListarEditoras" >Listar Editoras</a>
        </div>
        <div class="col-3"> 
            <a class="btn btn-info" asp-controller="Editora" asp-action="CadastrarEditora" >Cadastrar Editora</a>  
        </div>
    </div>
</div>
